$background-color: rgba(244, 245, 249, 1);

$circle-size: 530px;
$timeline-button-size: 6px;
$timeline-button-distance: $circle-size / 2;

$item-count: 6;

.circle-container {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-5%);
}

.circle {
  width: $circle-size;
  height: $circle-size;
  border-radius: 50%;
  background: none;
  border: 1px solid rgba(66, 86, 122, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  // transform: rotate(360deg / $item-count * 1);
  transition: transform 0.5s;
}

@mixin position($index) {
  $angle: 360deg / $item-count;
  $rotate: $angle * ($index - 1);
  transform: rotate($rotate) translate($timeline-button-distance + 0.5px) rotate(-$rotate);
}

.circle-button {
  all: unset;
  cursor: pointer;
  width: $timeline-button-size;
  height: $timeline-button-size;
  border-radius: 50%;
  background-color: rgba(66, 86, 122, 1);
  position: absolute;
  font-size: 0;
  transition: 0.3s;

  @for $i from 1 through $item-count {
    &:nth-child(#{$i}) {
      @include position($i);
    }
  }

  span {
    opacity: 0;
    transition: opacity 0.5s;
  }

  &.active {
    width: 56px;
    height: 56px;
    background-color: $background-color;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px rgba(48, 62, 88, 0.5);
    color: rgba(66, 86, 122, 1);
    line-height: 30px;
    font-size: 20px;

    span {
      position: absolute;
      transform: translatex(calc(100% + 20px));
      font-size: 20px;
      color: rgba(66, 86, 122, 1);
      font-weight: 700;
      opacity: 1;
    }
  }
}

.big-dates-block {
  font-weight: 700;
  line-height: 160px;
  letter-spacing: -2%;
  font-size: 10.5vw;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -25%);
  color: rgba(93, 95, 239, 1);
  display: flex;
  gap: 65px;

  span {
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
  }

  span:nth-child(2) {
    color: rgba(239, 93, 168, 1);
  }
}