.main-layout-container {
  @media (min-width: 1025px) {
    width: 75%;
    right: 0;
    margin: 0;
    margin-right: 5%;    
  }
  transform: translateY(-5%);
  width: calc(100% - 40px);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  height: 100svh;
  margin: 0 20px 13px;
}

.big-text-block {
  @media (min-width: 1025px) {
    padding-left: 5%;
    top: 27.5%;
    transform: translateY(-50%);
    border-left: 4px solid;
    border-image: linear-gradient( rgba(56, 119, 238, 1), rgba(239, 93, 168, 1)) 1;
    font-size: 2.7vw;
    line-height: 120%;
    max-width: 25%;
  }
  max-width: 45%;
  position: absolute;
  left:0;
  top: 15%;
  font-weight: 700;
  color: rgba(66, 86, 122, 1);
  font-size: 20px;
  line-height: 24px;
}

.info {
  @media (min-width: 1025px) {
    display: none;
  }
  left: 0;
  top: 40%;
  font-size: 16px;
  position: absolute;
  line-height: 30px;
  font-weight: 700;
  color: rgba(66, 86, 122, 1);
}