@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans:wght@400;700&display=swap');

$background-color: rgba(244, 245, 249, 1);

* {
  margin: 0;
  padding: 0;
}

#root {
  font-family: 'PT Sans', sans-serif;
}

body {
  background-color: $background-color;
}

.background-container {
  @media (min-width: 1025px) {
    height: 100%;
    width: 75%;
    // overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    margin-right: 5%;
    border-right: solid 1px rgba(66, 86, 122, 0.1);
    position: absolute;
    right:0;
    overflow: auto;
  }
  display: none;
}

.background-container_upper {
  height: calc(45% - 2px);
  width: calc(50% - 2px);
  border-left: solid 1px rgba(66, 86, 122, 0.1);
  border-bottom: solid 1px rgba(66, 86, 122, 0.1);
  position: relative;
}

.background-container_lower {
  height: 55%;
  width: calc(50% - 2px);
  border-inline: solid 1px rgba(66, 86, 122, 0.1);
  position: relative;  
}

.container {
  height: 100vh;
  height: 100svh;
  position: relative;
}